<!DOCTYPE html>
<html>
<head>
  <title>Tempsite</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

  <%= csrf_meta_tags %>
</head>


<body>

    <% if user_signed_in? %>
          <li class="divider-vertical"></li>
          <li><%= link_to "Deck", "#" %></li> 
          <li class="divider-vertical"></li>
          <li><%= link_to "Staff", "#" %></li>   
           <li><%= link_to "Contact", "#" %></li> 
          <li class="divider-vertical"></li>
          <li><%= link_to "About", "#" %></li>   
           <li><%= link_to "Video", "#" %></li>    
    <% else %>
    	 <div class="wallpaper">
          <li><%= link_to "Register", "#" %></li>
          <li><%= link_to "Log in", "#" %></li> 
         </div> 
    <% end %>



    <div class="container">
   	 <p class="notice"><%= notice %></p>
     <p class="alert"><%= alert %></p>
     <%= yield %>
    </div>

</body>
</html>