<div class="row">
	<hr/>
	<div class="span4"> 
	<b>A</b><br>
    <%= link_to 'Afghanistan', all_countries_afghanistan_path %> <br>
    <%= link_to 'Akrotiri', all_countries_akrotiri_path %> <br>
    <%= link_to 'Albania', all_countries_albania_path %> <br>
    <%= link_to 'Algeria', all_countries_algeria_path %> <br>
    <%= link_to 'American Samoa', all_countries_american_samoa_path %> <br>
    <%= link_to 'Andorra', all_countries_andorra_path %> <br>
    <%= link_to 'Angola', all_countries_angola_path %> <br>
    <%= link_to 'Anguilla', all_countries_anguilla_path %> <br>
     <%= link_to 'Antarctica', all_countries_antarctica_path %> <br>
    <%= link_to 'Antigua and Barbuda', all_countries_antigua_and_barbuda_path %> <br>
    <%= link_to 'Argentina', all_countries_argentina_path %> <br>
     <%= link_to 'Armenia', all_countries_armenia_path %> <br>
    <%= link_to 'Aruba', all_countries_aruba_path %> <br>
    <%= link_to 'Ashmore and Cartier Islands', all_countries_ashmore_and_cartier_path %> <br>
    <%= link_to 'Australia', all_countries_australia_path %> <br>
    <%= link_to 'Austria', all_countries_austria_path %> <br>
    <%= link_to 'Azerbaijan', all_countries_azerbaijan_path %> <br>
	<br><b>B</b><hr/><br>

	<b>C</b><hr/><br>

	<b>D</b><hr/><br>

	<b>E</b><hr/><br>

	<b>F</b><hr/><br>

	<b>G</b><hr/><br>

	<b>H</b><hr/><br>

	<b>I</b><hr/><br>


	</div>
	<div class="span4">

	<b>J</b><hr/><br>
	
	<b>K</b><hr/><br>

	<b>L</b><hr/><br>

	<b>M</b><hr/><br>

	<b>N</b><hr/><br>

	<b>O</b><hr/><br>

	<b>P</b><hr/><br>

	<b>Q</b><hr/><br>

	<b>R</b><hr/><br>

	<b>S</b><hr/><br>
	</div >
	<div class="span4"> 

	<b>T</b><hr/><br>

	<b>U</b><hr/><br>

	<b>V</b><hr/><br>

	<b>W</b><hr/><br>

	<b>X</b><hr/><br>

	<b>Y</b><hr/><br>

	<b>Z</b><hr/><br>

	</div>
</div>
   

<div class="row">
	<div class="span4"> 
	</div>
	<div class="span4">
	</div >
	<div class="span4"> 
	</div>
</div>
   





