<%= simple_form_for(@jobber, html: {class: "form-horizontal", :multipart => true}) do |f| %>
  <% if @jobber.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@jobber.errors.count, "error") %> prohibited this jobber from being saved:</h2>

      <ul>
      <% @jobber.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
   <br>
  <table>
  <tr>
  <div class="field">

      <%= f.input :user_id, collection: User.all, label_method: :profile_name %>
  </div>
  </table>
  <div class="field">
    <%= f.input :organization, :input_html => {:rows => 1,  :style=> 'width: 210px'}%>
  </div>
  <div class="field">
    <%= f.input :category, collection: ["Web Developer", "Web Designer"] %>
  </div>
  <div class="field">
    <%= f.input :job_description,:input_html => {:rows => 8,  :style=> 'width: 440px'} %>
  </div>
  <div class="field">
    <%= f.input :donation_amt, hint: ' US $.'%>
  </div>
  <hr/>
  
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
 
<% end %>
