<p>
  <b>First name:</b>
   <%= @jobber.user.first_name %>
</p>
<p>
  <b>Profile name:</b>
   <%= @jobber.user.profile_name %>
</p>

<p>
  <b>Country:</b>
  <%= @jobber.user.country %>
</p>

<p>
  <b>Organization:</b>
  <%= @jobber.organization %>
</p>

<p>
  <b>Category:</b>
  <%= @jobber.category %>
</p>

<p>
  <b>Job description:</b>
  <%= @jobber.job_description %>
</p>
<p>
  <b>Profile Image:</b>
  <%= @jobber.user.avatar %>
</p>

<p>
  <b>Donation amt:</b>
  <%= number_to_currency(@jobber.donation_amt) %>
</p>


<%= link_to 'Edit', edit_jobber_path(@jobber) %> |
<%= link_to 'Back', jobbers_path %>
