
<!DOCTYPE html>
<html>
<head>
  <title>Gigsite</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if user_signed_in? %>
 <div class="container">

 <% else %>
 <div class="main_page">
<% end %>	


<div class="navbar navbar-fixed-top">	
	 <div class="navbar navbar-inverse">
	   <div class="navbar">
	   	<div class="navbar-inner">
	   
	  	 	<div class="container">
	  	 		<a class="brand" href="#">DevGigs</a>
				<ul class="nav">
					<li class="divider-vertical"></li>
					<li><a href="#">Home</a></li>
					<li class="divider-vertical"></li>
					<li><%= link_to "Gig Listings", jobbers_path %></li>
					<li class="divider-vertical"></li>
					 	<ul class ="nav pull-right">
					 		<% if user_signed_in? %>
	  							<li><%= link_to  current_user.first_name, log_out_path %></li>
	  							<li><%= link_to "Log Out", log_out_path %></li>
	  							
	  						<% else %>
	  							<li><%= link_to "Register", register_path %></li>
	  							<li><%= link_to "Log in", sign_in_path %></li>
							<% end %>
							
					 	</ul>
					<li><a href="#">Link</a></li>
					 <li class="divider-vertical"></li>
					<li><a href="#">Link</a></li>
					<li class="divider-vertical"></li>
				
						
				</ul>
	  	 	</div>
	  	 	
	  	 </div>
	   </div>
	 </div>
	</div>
    <div class="container">
			 

    <%= yield %>

	</div>
	</body>
	</html>
